<br><br><br>



<div class="container">
  
<h3>Update your Information</h3>
      <form #regForm='ngForm' (submit)='upDate()'>

        <input type="text" name="fname" placeholder="First Name"
        [(ngModel)]='parent.firstname' #name = 'ngModel'required minlength='2'><br>
        <div *ngIf='name.errors && (name.touched || regForm.submitted )' class='red'>
          <div *ngIf='name.errors.required'>Name is required</div>
          <div *ngIf='name.errors.minlength'>Name must be at least 2 characters</div>
        </div>

        <input type="text" name="lname" placeholder="Last Name"
        [(ngModel)]='parent.lastname' #lname='ngModel' required minlength="2"><br>
        <div *ngIf='lname.errors && (lname.touched || regForm.submitted )' class='red'>
          <div *ngIf='lname.errors.required'>Last Name is required</div>
          <div *ngIf='lname.errors.minlength'>Last Name must be at least 2 characters</div>
        </div>

        <input type="text" name="pnumber" placeholder="Phone Number"
        [(ngModel)]='parent.pnumber' #pnumber='ngModel' required minlength="10" maxlength="12"><br>
        <div *ngIf='pnumber.errors && (pnumber.touched || regForm.submitted )' class='red'>
          <div *ngIf='pnumber.errors.required'>Phone Number is required</div>
          <div *ngIf='pnumber.errors.minlength'>Phone Number must be at least 10 digits long (include area code)</div>
        </div>
        

        <input type="text" name="username" placeholder="Username"
        [(ngModel)]='parent.username' #username='ngModel' required minlength="5"><br>
        <div *ngIf='username.errors && (username.touched || regForm.submitted )' class='red'>
          <div *ngIf='username.errors.required'>Username is required</div>
          <div *ngIf='username.errors.minlength'>Username must be at least 5 characters</div>
        </div>

        <input type="text" name="email" placeholder="Email"
        [(ngModel)]='parent.email' #email='ngModel' required minlength="5"><br>
        <div *ngIf='email.errors && (email.touched || regForm.submitted )' class='red'>
          <div *ngIf='email.errors.required'>Email is required</div>
          <div *ngIf='email.errors.minlength'>Email must be at least 5 characters</div>
        </div>

        <input type="password" name="password" placeholder="Password"
        [(ngModel)]='parent.password' #password='ngModel' required minlength="8"><br>
        <div *ngIf='password.errors && (password.touched || regForm.submitted )' class='red'>
          <div *ngIf='password.errors.required'>Password is required</div>
          <div *ngIf='password.errors.minlength'>Password must be at least 8 characters</div>
        </div>

        <h3>Update your Child's Information</h3>
        <input type="text" name='childname' placeholder="Child's Name"
        [(ngModel)]='parent.childname' #childname='ngModel' required minlength='5'><br>

          <input placeholder="Child's Date of Birth" class="textbox-n" type="text" onfocus="(this.type='date')" 
           id="date" name="childdob" [(ngModel)]='parent.childdob' #childdob='ngModel' required>
           <div *ngIf='childdob.errors && (childdob.touched || regForm.submitted )' class='red'>
            <div *ngIf='childdob.errors.required'>Child Date of Birth is Required</div>
          </div>
            <br>
          <select placeholder="Select a Program" 
            name="program" [(ngModel)]='parent.program'>
            <option  value="Baby Daycare">Programs by Age: Baby Daycare (6 weeks-1)</option>
            <option  value="Infant Daycare">Infant Daycare(1-2)</option>
            <option  value="Toddler Daycare">Toddler DayCare(2-3)</option>
            <option  value="Discovery Daycare">Discovery Preschool(3-4)</option>
          </select>
          
   
        <input [disabled]='!regForm.valid' type="submit" class="btn btn-success">
      </form>


</div>
