<html>  
  <head>  
  </head>
  <body>
    <div class="container">
        
      <div class="center-block">
        <h1>Testimonials </h1>
        <img src="http://www.kindercare.com/areas/kindercare/assets/dist/img/content/cdp-hero/caucus-header_1220x450.jpg" alt="" class="img-responsive">
      </div>
      <div class="row">
        <div class="col-md-9">
          <h2>See what parents and teachers say about KinderCare</h2>
          <h3>Parents</h3>
          <p><b>EXAMPLE-</b><i>"I enrolled my son in a KinderCare day care center when he was 13 months old. I interviewed approximately 20 child care programs. The process of elimination began with the first phone call. Not only was the first phone call to KinderCare pleasant and inviting, but once I entered the building I noticed all of the teachers greeting each child in the hallway by name, with attention given to each child.
          The Assistant Director answered all of my many questions and once we did drop him off the first day, she was there, with tissues in hand, assuring us that our baby would be OK and that we could call her anytime to see how he was doing. And, she meant it. Anytime I called, she would check in on him and let me know how he was doing, and what he was doing – that extra bit of information gave it that special touch. She took that extra step."</i></p>
          <br>
          <b>-Cyndi R.</b>
          <br>
          <br>
          <p><b>EXAMPLE-</b><i>"Words cannot express the thanks that my family has for each and every KinderCare early childhood teacher and staff person that has been a part of our family for almost nine years.
          We enrolled at KinderCare in 2001 when Steven was six weeks old. Since then he has grown and matured into an amazing, intelligent young man."</i></p>
          <br>
          <b>-Amy and Dave R.</b>
           <br>
           <br>
          <p><b>EXAMPLE-</b><i>"As a parent, I entrust my greatest blessing to the staff at KinderCare every day, and I am grateful for the loving care and guidance he receives. The teachers and director look at each child as an individual, with their own strengths and needs. My son has been blessed with awesome teachers who understand his challenges, and handle him with grace. My child has learned so much and continues to share with me the great activities that go on each day at "school!" Thank you to the KinderCare child care organization for an incredible early childhood curriculum that engages and teaches at all steps of the day, and a special thanks to Karen and her staff; they continue to do amazing works of "heart" with all children."</i></p>
          <br>
          <b>-Becky T..</b>
        </div>
      </div> <!--scontain-->
    </div><!--Container-->
  </body>
</html>
