<html>  
  <head>  
  </head>
  <body>
    <div class="container">
        
      <div class="center-block">
        <h1>Resources </h1>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h2>Things to Know About KinderCare Tuition and Rates</h2>
          <p>This is a big decision for your family. The best way to get you the information you need is to speak directly with the center director in your neighborhood, so you can explain your individual needs. Your Center Director will help guide you through our invaluable programs and affordable pricing.
There is no one-size-fits-all answer to what the tuition will be for your family. Child care costs will vary based on your situation. Here are some of the things that impact the cost:
Prices vary regionally. To give you the most accurate information, we need to know your location.
Cost is based on the number of days per week, and hours per day that your child will be with us.
Cost will vary depending on your child’s age, and the programs that they are enrolled in.
To learn more about KinderCare tuition, please find a center from the list below and reach out to the Center Director there to get more details. You are also welcome to chat online with one of our friendly support team members.</p> 
        </div>
          <div class="col-md-4">
          <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/19510313_10155249196811043_5861400566636930881_n.jpg?oh=c2f545f06eed7092757e0135147fef12&oe=59DB00A8" alt="" class="img-responsive">
          <br>
          <h3>Anastasia Care</h3>
          <h5>1650 James ave.</h5>
          <h5>Redwood City, CA 94062</h5>
          <br>
        </div>     
      </div> <!--scontain-->
    </div><!--Container-->
  </body>
</html>