body{
  background-color: #f8f8f8;
}

a.navbar-brand{
  background: #ed5b32;
  color: whitesmoke;
  margin-left: 120px;
}

.navbar-default .navbar-nav>li>a {
    color:whitesmoke;
    background: #57c4c3;
}


