<html>  
  <head>  
  </head>
  <body>
    <div class="container">
        
      <div class="center-block">
        <h1>About Us </h1>
        <img src="http://www.kindercare.com/-/media/kindercare/heros/prek_01_1220x450/early_education_program_overview_1220x450.jpg?h=450&la=en&w=1220&hash=D7A857D68226C21E09CFE7EB1D5D72039C3C0429" alt="" class="img-responsive">
      </div>
      <div class="row">
        <div class="col-md-9">
          <h2>Our Early Childhood Education Teachers</h2>
          <p>The early education teachers at Anastasia teachers are passionate about your child's happiness and growth. They're dedicated to providing a safe, nurturing environment that cultivates self-esteem.
              Anastasia is more than a job to them. It's an opportunity to share their passion for life while they awaken the wonder inside each and every child. Here's how they do it.</p>
              <br>
              <h2>Small Class Size</h2>
              <p>Our low teacher-to-student ratios allow teachers to focus on the individual learning styles and needs of each child in our center.</p>
              <br>
              <h2>Highly Trained Early Childhood Teachers</h2>
              <p>Anastasia teachers devote more time and resources to teacher training than any other childcare provider. Our teachers are dedicated to developing your child's potential and are sensitive to your child's individual needs.</p>
              <br>
        </div>
      </div> <!--scontain-->
    </div><!--Container-->
  </body>
</html>
